{% extends 'base.html' %}

{% block title %}
<title>GB Admin - Панель администратора</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Админ-панель</h1>

    <div class="admin-actions">
        <a href="{{url_for('admin.tournaments')}}" class="button">Турниры</a>
        <a href="#" class="button">Чемпионы</a>
        <a href="{{url_for('admin.users_list')}}" class="button">Пользователи</a>
        <a href="{{url_for('admin.view_logs')}}" class="button">Журнал действий</a>
    </div>
</div>
{% endblock %}