<!DOCTYPE html>
<html>

<head>

    {% block title %}
    {% endblock %}

    <!-- Иконки -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Шрифты -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!-- Уведомления -->
    <link href="{{ url_for('static', filename='lib/toastr/toastr.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='lib/toastr/toastr.css') }}" rel="stylesheet"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adaptive.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>

<body>

    <!-- Уведомления toastr -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='lib/toastr/toastr.min.js') }}"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-left",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
          }
    </script>

    <div class="main_container">
        <div id="cookie-consent" class="cookie-consent">
            <p>Мы используем cookies для улучшения работы сайта. Продолжая, вы соглашаетесь с их использованием.</p>
            <button id="cookie-accept" class="cookie-btn">Принять</button>
        </div>

        <!-- Navbar -->
        <div class="navbar">
           
            <a href="{{ url_for('public.home') }}" class="h1">
                <img class="logo" src="{{ url_for('static', filename='images/GB_mini_free.png') }}">
                Golden Bulls
            </a>

            <button class="mobile-menu-toggle" onclick="toggleMobileMenu()">
                <i class="fas fa-bars"></i>
            </button>

            <div class="navigation_menu">
                <a href="/#about_us" class="nav_link">О нас</a>
                <a href="/#champions" class="nav_link">Чемпионы</a>
                <a href="/#tournaments" class="nav_link">Турниры</a>
                <a href="/#members" class="nav_link">Состав клана</a>
            </div>

            {% if current_user %}
            <div class="navbar_profile_block">
                <div class="navbar_profile" onclick="toggleProfileMenu(event)">
                    <span class="nav_username">{{ current_user.username }}</span>
                    <i class="fas fa-user profile-icon"></i>
                </div>
            
                <div id="profileDropdown" class="profile-dropdown">
                    <a href="/user/profile">Профиль</a>
                    {% if current_user.role in ['admin', 'moderator'] %}
                    <a href="/admin">Админ-панель</a>
                    {% endif %}
                    <a href="/user/logout">Выйти</a>
                </div>
            </div>
            {% else %}
            <div class="navbar_auth">
                <a href="/user/login" class="button">Вход</a>
                <a href="/user/register" class="button">Регистрация</a>
            </div>
            {% endif %}
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        toastr.error('{{ message }}');
                    {% elif category == 'warning' %}
                        toastr.warning('{{ message }}');
                    {% elif category == 'success' %}
                        toastr.success('{{ message }}');
                    {% else %}
                        toastr.info('{{ message }}');
                    {% endif %}
                {% endfor %}
            </script>
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>

    <script>
        function toggleProfileMenu(event) {
            // Отменяем всплытие события, чтобы оно не достигло document.click
            event.stopPropagation();
            
            const dropdown = document.getElementById('profileDropdown');
            if (dropdown) {
                // Закрываем все другие открытые меню
                closeAllProfileMenus();
                
                // Переключаем текущее меню
                dropdown.classList.toggle('show');
            }
        }
        
        function closeAllProfileMenus() {
            const allDropdowns = document.querySelectorAll('.profile-dropdown');
            allDropdowns.forEach(dropdown => {
                dropdown.classList.remove('show');
            });
        }
        
        // Закрытие dropdown при клике в любом месте страницы
        document.addEventListener('click', function() {
            closeAllProfileMenus();
        });
        

        // Cookie
        document.addEventListener('DOMContentLoaded', function() {
            const consentBanner = document.getElementById('cookie-consent');
            const acceptBtn = document.getElementById('cookie-accept');
          
            // Проверяем, давал ли пользователь согласие ранее
            if (!localStorage.getItem('cookie_consent')) {
              consentBanner.style.display = 'flex';
            }
          
            // Обработка принятия
            acceptBtn.addEventListener('click', function() {
              localStorage.setItem('cookie_consent', 'accepted');
              consentBanner.style.display = 'none';
            });
          });
    </script>

    <script>
        function toggleMobileMenu() {
            const navbar = document.querySelector('.navbar');
            navbar.classList.toggle('active');
        }
    </script>

    {% block script %}
    {% endblock %}
</body>