<!DOCTYPE html>
<html>
<head>
    <title>Регистрация нового пользователя</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
<div class="container">
    <h1>Регистрация нового пользователя</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('register_user') }}">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required>

        <label for="pubg_nickname">Ник в PUBG:</label>
        <input type="text" id="pubg_nickname" name="pubg_nickname" required>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" minlength="6" maxlength="30" required>

        <button type="submit" class="button">Зарегистрировать</button>
        <a href="{{ url_for('home') }}" class="button">Отмена</a>
    </form>
</div>
</body>
</html>
