<!DOCTYPE html>
<html>
<head>
    <title>Вы уже зарегистрированы</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Вы уже зарегистрированы на турнир "{{ tournament.name }}"</h1>
        <p>Ваш ник: {{ player.nickname }}</p>
        <p>Режим турнира: {{ tournament.mode }}</p>
        <p>Дата турнира: {{ tournament.tournament_date.strftime('%d.%m.%Y в %H:%M') }}</p>
        <a class="button" href="{{ url_for('view_players_public', tournament_id=tournament.id) }}">Посмотреть участников</a>
    </div>
</body>
</html>
