{% extends 'base.html' %}

{% block title %}
<title>Golden Bulls - {{ tournament.name }}</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Регистрация на турнир {{ tournament.name }}</h1>

    <div class="time-info">
        <p>Регистрация открыта до: <strong>{{ tournament.reg_end.strftime('%d.%m.%Y в %H:%M') }}</strong></p>
    </div>

    <p><strong>Режим:</strong> {{ tournament.mode }}</p>
    <p><strong>Количество карт:</strong> {{ tournament.maps_count }}</p>
    <p><strong>Дата проведения турнира:</strong> {{ tournament.tournament_date.strftime('%d.%m.%Y в %H:%M') }}</p>

    <div class="scoring-info">
        <h3>Начисление баллов:</h3>
        <table class="scoring-table">
            <tbody>
                {% if tournament.kill_points %}
                <tr>
                    <td>1 убийство</td>
                    <td>{{ tournament.kill_points or 0 }} б.</td>
                </tr>
                {% endif %}
                {% if tournament.damage_points %}
                <tr>
                    <td>100 урона</td>
                    <td>{{ tournament.damage_points or 0 }} б.</td>
                </tr>
                {% endif %}
                <tr>
                    <td>1 место</td>
                    <td>{{ tournament.first_place_points or 0 }} б.</td>
                </tr>
                <tr>
                    <td>2 место</td>
                    <td>{{ tournament.second_place_points or 0 }} б.</td>
                </tr>
                <tr>
                    <td>3 место</td>
                    <td>{{ tournament.third_place_points or 0 }} б.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="current-players">
        <a href="{{ url_for('public.view_players_public', tournament_id=tournament.id) }}" class="button">
            Посмотреть текущих участников ({{ tournament.players|length }})
        </a>
    </div>

    <form method="POST">
        <h3>Вы записываетесь как:</h3>
        {% if current_user %}
        <div class="player-info">
            <p class="nickname">{{ current_user.pubg_nickname }}</p>
            <p>
                <strong>Имя:</strong>
                {% if current_user.name %}
                {{ current_user.name }}
                {% else %}
                <span class="warning">Не указано</span>
                {% endif %}
            </p>
        </div>

        <input type="hidden" name="nickname" value="{{ current_user.pubg_nickname }}">

        {% if not current_user.name %}
        <div class="name-input">
            <label for="name">Ваше имя (обязательно):</label>
            <input type="text" id="name" name="name" required>
        </div>
        {% else %}
        <input type="hidden" name="name" value="{{ current_user.name }}">
        {% endif %}

        {% if tournament.mode in ['Дуо', 'Сквад'] %}
        <div class="group-selection">
            <div class="available-groups">
                <div class="group-option">
                    <input type="radio" name="group_id" id="new_group" value="" checked>
                    <label for="new_group" class="h3">Создать новую группу</label>
                </div>
                {% if groups %}
                
                <h2>Или выбери из доступных:</h2>

                {% for group in groups %}
                {% set player_count = group.players|length %}
                {% if player_count < max_players %}
                <div class="group-radio">
                    <input type="radio" name="group_id" id="group_{{ group.id }}" value="{{ group.id }}">
                    <label  for="group_{{ group.id }}">
                        <span class="nickname">Группа #{{ group.group_number }} ({{ player_count }}/{{ max_players }}) </span>
                        {% if player_count > 0 %}
                        <ul>
                            {% for player in group.players %}
                            <li>{{ player.name }} ({{ player.nickname }})</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </label>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endif %}

        <button type="submit" class="button">Записаться</button>

        {% else %}
        <h2>Для записи на турнир авторизуйтесь или зарегистрируйтесь на сайте</h2>
        {% endif %}
    </form>
</div>
{% endblock %}