{% extends 'base.html' %}

{% block title %}
<title>Golden Bulls - PUBG</title>
{% endblock %}

{% block content %}
<div class="container">

    
    <div class="container_block" data-aos="fade-right" id="about_us">
        <h2>О нас</h2>
        <p class="recruitment-lead">Мы — клан <span class="clan-name">Golden Bulls</span>, сплочённое братство
                    игроков PUBG, где каждый боец ценится не только за навыки, но и за дух команды. Здесь нет одиночек —
                    только взаимовыручка, тактика и стремление к победе.
                    Наш клан объединяет лучших игроков PUBG, готовых сражаться плечом к плечу ради общей победы. 
                    Вместе мы организовываем захватывающие турниры, соревнуемся командами и боремся за звание сильнейших. 
                    Здесь царят дух товарищества, честная игра и адреналин настоящих баталий. 
                    Присоединяйся к нам, если хочешь испытать настоящий драйв и стать частью легендарного коллектива!
        </p>
        <div class="recruitment-call">
            <div class="recruitment-content">
                <div class="why-us">
                    <h3 class="recruitment-title">Почему мы?</h3>
                    <ul class="benefits-list">
                        <li class="benefit-item"><strong>Командная игра</strong> — мы
                            сражаемся вместе, а не просто бежим за фрагами.</li>
                        <li class="benefit-item"><strong>Развитие</strong> —
                            анализируем ошибки, делимся тактиками и растем как игроки.</li>
                        <li class="benefit-item"><strong>Честность и уважение</strong>
                            — никакого токсика, только здоровая атмосфера.</li>
                        <li class="benefit-item"><strong>Активность</strong> —
                            постоянно проводим турниры и собираемся на тренировки.</li>
                    </ul>
                </div>

                <div class="recruitment-image">
                    <img class="item-image" src="{{ url_for('static', filename='images/solder_no_bg.png') }}" alt="">
                </div>
                
                <div class="recruitment-join">
                    <h3 class="recruitment-title">Вступай</h3>
                    <p class="recruitment-cta">Если ты ищешь не просто клан, а <span class="highlight">настоящих
                        союзников</span>, готовых поддержать в любом раунде, — бросай заявку. Вместе мы добьёмся
                    большего!</p>

                    <p class="clan-signature"><span class="clan-name">Golden Bulls</span> — не просто название. Это стиль
                    игры.</p>

                    
                </div>

                
            </div>
                {% if not current_user%}
                    <p style="text-align:center; text-decoration: underline; font-size: 18px">
                        Авторизуйтесь для подачи заявки на вступление в клан
                    </p>
                {% endif %}

                {% if current_user.role == "guest"%}
                    <a href="#" class="join_button button" onclick="openJoinClanModal(); return false;">
                        Подать заявку на вступление в клан
                    </a>
                {% endif %}
        </div>
    </div>
    

    {% if champions %}
    <div class="container_block" data-aos="fade-right" id="champions">
        <h2>Команды победителей:</h2>

    </div>
    {% endif %}

    <div class="container_block" data-aos="fade-right" id="tournaments">
        <h2>Турниры:</h2>
        <div class="tournament_info">
            {% if next_tournament %}
            <div class="next_tournament">

                <h3>Ближайший турнир</h3>
                <strong>{{ next_tournament.name }}</strong> — {{ next_tournament.tournament_date.strftime('%d.%m.%Y') }}
                {% if current_user %}
                    {% if current_user.role in ['admin', 'moderator','clan_member'] %}
                        <br><br>
                        <a href="{{url_for('user.player_form',tournament_id=next_tournament.id)}}" class="button">Записаться</a>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}

            {% if last_tournament %}
            <div class="last_tournament">
                <h3>Прошлый турнир</h3>
                <strong>{{ last_tournament.name }}</strong> — {{ last_tournament.tournament_date.strftime('%d.%m.%Y') }}
            </div>
            {% endif %}

        </div>

    </div>

    <div class="container_block" data-aos="fade-right" id="members">
        <h2>Cостав клана:</h2>
        <div class="members_container">
            <div class="member_list_container">
                <h3>Колчиество участников (<strong>{{ members.count() }}</strong>):</h3>
                <ul class="member_list">
                    {% for member in members %}
                    <li class="member-card">
                        <div class="member-nickname">{{ member.pubg_nickname }}</div>
                        <div class="member-info">
                            {% if member.name %}
                            <span>Имя: {{ member.name }}</span>
                            {% endif %}
                            {% if member.birthday %}
                            <span>День рождения:
                                {{ member.birthday.strftime('%d.%m')  if member.birthday else 'Не указан' }}</span>
                            {% endif %}
                        </div>
                        {% if member.role == "admin" or member.role == "moderator" %}
                        <div class="member-role {{member.role}}">{{ member.role }}</div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</div>

<!-- Модальное окно заявки в клан -->
<div id="joinClanModal" class="modal_log_reg">
    <div class="modal-content_log_reg" style="max-width: 600px;">
        <span class="close" onclick="closeJoinClanModal()">&times;</span>
        <h2>Заявка на вступление в клан</h2>
        
        <form id="joinClanForm">
            <label for="applicant_name">Имя:</label>
            <input type="text" id="applicant_name" name="name" required>
            
            <label for="applicant_birthday">Дата рождения:</label>
            <input type="date" id="applicant_birthday" name="birthday" required>
            
            <label for="applicant_info">Информация о себе:</label>
            <small class="hint">Расскажите почему вы хотите вступить в клан Golden Bulls и как часто вы играете</small>
            <textarea id="applicant_info" name="info" rows="5" required></textarea>

            <label for="applicant_from">Откуда узнали о нас:</label>
            <select name="know_from" id="applicant_from" required>
                <option value="friend">От друга/знакомого</option>
                <option value="public">Из рекламы</option>
                <option value="other">Другое</option>
            </select>

            <label for="applicant_know_from_optional">Ник друга/знакомого:</label>
            <input type="text" id="applicant_know_from_optional" name="know_from_optional">
            
            <div class="checkbox-container">
                <input type="checkbox" id="agree_rules" name="agree_rules" required>
                <label for="agree_rules">Ознакомился с правилами клана и обязуюсь их соблюдать в случае удовлетворения моей кандидатуры</label>
            </div>
            
            <div class="button-group">
                <button type="submit" class="button">Отправить заявку</button>
                <button type="button" class="button secondary" onclick="closeJoinClanModal()">Отмена</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}