{% extends 'base.html' %}

{% block title %}
    <title>Golden Bulls - Профиль</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Профиль пользователя {{ user.pubg_nickname or '' }}</h1>

        {% if stats %}
        <h3>Статистика PUBG (FPP)</h3>
        <h3>Обновлено: {{updated_at.strftime('%Y-%m-%d %H:%M:%S')}}</h3>

            {% for mode in ['solo-fpp', 'duo-fpp', 'squad-fpp'] %}
                {% if stats.stats.get(mode) %}
                {% set values = stats.stats[mode] %}
                <p><strong>{{ mode|upper }}</strong></p>
                <p>Убийств: {{ values.kills }}</p>
                <p>Побед: {{ values.wins }}</p>
                <p>Поражений: {{ values.losses }}</p>
                <p>Раундов сыграно: {{ values.rounds_played }}</p>
                <p>Урон: {{ values.damage_dealt }}</p>
                <p>Самый длинный фраг: {{ values.longest_kill }} м</p>
                <p>Хедшоты: {{ values.headshot_kills }}</p>
                <p>K/D: {{ values.kd | round(2) if values.kd is not none else "—" }}</p>
                <hr>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Нет данных о статистике игрока.</p>
        {% endif %}
        

        <form method="post">
            <label>Логин (нельзя изменить):</label>
            <input type="text" value="{{ user.username }}" disabled>

            <label>Имя:</label>
            <input type="text" name="name" value="{{ user.name or '' }}">

            <label>PUBG Никнейм:</label>
            <input type="text" name="pubg_nickname" value="{{ user.pubg_nickname or '' }}" disabled>
            <small>Если вы сменили никнейм в PUBG - сообщите администраторам</small>

            <label>Дата рождения:</label>
            <input type="date" name="birthday" value="{{ user.birthday.strftime('%Y-%m-%d') if user.birthday else '' }}">

            <hr>

            <label>Текущий пароль:</label>
            <input type="password" name="current_password">

            <label>Новый пароль:</label>
            <input type="password" name="new_password" minlength="6" maxlength="30">

            <p><small>Если вы хотите сменить пароль — введите текущий и новый пароль.</small></p>

            <button type="submit" class="button">Сохранить изменения</button>
        </form>

    </div>
{% endblock %}