{% extends 'base.html' %}

{% block title %}
<title>Golden Bulls - Сброс пароля</title>
{% endblock %}

{% block content %}
<div class="log_reg_container">
    <h1>Сброс пароля</h1>

    <form method="POST">
        <label for="verification_code">Код подтверждения:</label>
        <input type="text" id="verification_code" name="verification_code" required>
        <small>Введите код, отправленный на ваш email</small>

        <label for="new_password">Новый пароль:</label>
        <input type="password" id="new_password" name="new_password" minlength="6" maxlength="30" required>

        <button type="submit">Установить новый пароль</button>
        <a href="{{ url_for('user.forgot_password') }}" class="button">Отправить код повторно</a>
    </form>
</div>
{% endblock %}